@keyframes my-animation {
	from {background-color:red; width:200px; height:200px;}
	to {background-color:blue; width:300px; height:300px;}
}

td{
	animation-name: my-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

body{
	animation-name:my-animation2;
    animation-duration: 2s;
	animation-iteration-count: infinite;
}


@keyframes my-animation2 {
	from {background-color:blue;}
	to {background-color:red;}
}


.top-bar{
	display: flex;
	justify-content: center;
	height: 20vh;
	width: 100vw;

}

.middle-bar {
	height: 40vh;
	width: 100vw;
	display: flex;
}

.left-space {
	height: 40vh;
	width: 20vw;
}

.text1 {
	height: 40vh;
	width: 20vw;
}